//fonts
$os    : "Open Sans", sans-serif;
$exo   : "Exo 2",     sans-serif;

//colors
$blue  : #3f9ae1;
$dblue : #1c4464;
$grey  : #cdcdcd;
$dgrey : #333333;

//sizes 
$hz    : 44px;//headers size
$tz    : 14px;//text size

$header-size: 44px;
$grey-white: #cdcdcd;
$grey-black: #333;
$blue-white: #3f9ae1;
$blue-black: #1c4464;
$text-font-family:'Open Sans', sans-serif;
$header-font-family: 'Exo 2', sans-serif;
$header-font-weight: 600;