//fonts
$os    : "Open Sans", sans-serif; //text
$exo   : "Exo 2",     sans-serif; //header

//colors
$blue  : #3f9ae1;
$dblue : #1c4464;
$grey  : #cdcdcd;
$dgrey : #757575;

//sizes 
$hz    : 44px;//headers size
$tz    : 14px;//text size

$hw: 600; //header text weight