.content {
	&__text-enrolle {
		max-width: 800px !important;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 40px;

		color: $dgrey;
		font-family: $os;
		font-size: 14px;
		text-align: center;
	}
}