.statistics {

	&__header {
		color: #3f9ae1;
		text-align: center;
		text-transform: uppercase;
		font-size: 36px;
	}

	&__row {
		margin-bottom: 60px;
		margin-top: 60px;
	}

	&__number {
		color: #757575;
		text-align: center;
		font-size: 40px;
		font-weight: bold;
	}

	&__head {
		color: #757575;
		text-align: center;
	}

	&__description {
		color: #757575;
		text-align: center;
	}

}