.article-social-buttons {
  color: $dgrey;
  font-size: $tz;
  padding: 30px 0;

  &__link {
    text-decoration: none !important;
    color: $blue;
    transition: 0.3s;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
    &:visited {
      color: $dgrey;
      text-decoration: none;
    }
    &:visited:hover {
      color: $blue;
      text-decoration: none;
    }
    &:active {
      color: $blue;
      text-decoration: none;
    }
  }

  &__item {
    padding: 0 10px;
  }
}