.logo {
	
	&__image {
		padding-top: 10px;
		position: relative;

		color: #757575;
		text-transform: uppercase;
		font-family: "Roboto", sans-serif;
		font-size: 45px;

		&:before {
			content: "";
			width: 118px;
			height: 4px;
			position: absolute;
			top: 40px;
			left: 0;

			background-color: #3f9ae1;
		}
	}

	&__blue {
		color: #3f9ae1;
	}
}