$header-size: 44px;
//$text-size:;
$grey-white: #cdcdcd;
$grey-black: #333;
$blue-white: #3f9ae1;
$blue-black: #1c4464;
$text-font-family:'Open Sans', sans-serif;
$header-font-family: 'Exo 2', sans-serif;
$header-font-weight: 600;