.specialties {
	padding-top: 50px;
	padding-bottom: 110px;

	background-color: #f4f4f4;

	text-align: center;

	//elements
	@import "elements/_container";
	@import "elements/_title";
	@import "elements/_item";
	@import "elements/_row";
	@import "elements/_specialtie";
	@import "elements/_header";
	@import "elements/_link";
	@import "elements/_text";
	@import "elements/_information";
	@import "elements/_icon";

	//modifiers
	@import "modifiers/-white";
	@import "modifiers/_item--grey";


}