.logo {

	@media (max-width: 1200px) {
		width: 30%;
	}

	@media (max-width: 991px) {
		width: 100%;
		text-align: center;
	}

	&__link {
		text-transform: none;
		text-decoration: none;
		color: $dgrey;

		&:hover {
			text-transform: none;
			text-decoration: none;
			color: $dgrey;
		}
	}
	
	&__image {
		padding-top: 10px;
		position: relative;
		
		color: #757575;
		text-transform: uppercase;
		font-family: "Roboto", sans-serif;
		font-size: 45px;

		@media (max-width: 991px) {
			padding-top: 0;
			margin-bottom: 0;
		}
	}

	&__blue {
		color: #3f9ae1;
	}
}