.logo {
	@media (max-width: 1200px) {
		width: 30%;
	}

	@media (max-width: 991px) {
		width: 100%;
		text-align: center;
	}

	//elements
	@import "elements/_link";
	@import "elements/_image";
	@import "elements/_blue";

}