.article {
  position: relative;
  text-align: center;

  //elements
  @import "elements/_img";
  @import "elements/_title";
  @import "elements/_category";
  @import "elements/_text";
  @import "elements/_link";

}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $blue !important;
}