.article {
  position: relative;
  text-align: center;

  //elements
  @import "elements/_img";
  @import "elements/_title";
  @import "elements/_category";
  @import "elements/_text";
  @import "elements/_link";
  @import "elements/_date";
  @import "elements/_date-icon";
  @import "elements/_date-text";
  @import "elements/_more-button";
  @import "elements/_more";
  @import "elements/_download"; 
  @import "elements/_hide-block"; 
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $blue !important;
}