.teachers {
  color: $grey-black;
  
  &__container {
    @media (max-width: 1201px) {
      width: 100%;
    }
  }

  &__first-column {
    margin: auto;
    padding: 45px;
    box-sizing: border-box;
    max-width: 450px;
    width: 100%;

    @media (max-width: 1150px) {
      width: 41.66666667%;
    }

    @media (max-width: 991px) {
      width: 100%;
      max-width: 1000px;
      text-align: center;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__second-column {
    margin: auto;
    padding: 45px;
    box-sizing: border-box;
    max-width: 650px;
    width: 100%;

    @media (max-width: 1150px) {
        width: 58.33333333%;
    }

    @media (max-width: 991px) {
      width: 100%;
      max-width: 1000px;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__row {
    @media (max-width: 991px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__header {
    margin: 0;
    padding-bottom: 30px;
    font-size: $header-size;
    font-weight: 600;
    font-family: $header-font-family;
    color: $blue;

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &__main-image {
    max-width: 450px;
    width: 100%;
  }

  &__names-header {
    font-size: $hz;
    font-weight: 600;
    color: $grey-black;
  }

  &__about {
    color: $grey-white;
  }

  &__social-buttons {
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f4;
  }

  &__data {
    padding: 5px;
    padding-left: 0;
    border-bottom: 1px solid #f4f4f4;

    @media (max-width: 991px) {
      text-align: left;
    }
  }

  &__data-header {
    font-size: 16px;
    font-weight: 600;
    color: $grey-black;
  }

  &__data-information {
      color: $grey-white;
      margin-left: 30px;
  }

  &__data-image {
    float: left;
    margin: 12px 15px;
    color: $blue;
    margin-left: 0px;
  }

  &__greeting {
    margin: 0;
    color: $grey-black;
    padding-bottom: 30px;
  }

  &__greeting-list {
    margin:0;
    margin-bottom: 30px;
    list-style: none;
    padding-left: 10px;
  }

  &__list {
    padding-top: 10px;
      padding-bottom: 10px;
    border-bottom: 1px solid #f4f4f4;
    font-family: $os;
    font-size: 14px;
    color: #757575;

    &:first-child {
      border-top: 1px solid #f4f4f4;
    }
  }

  &__icon {
    font-size: 10px;
    color: $blue;
    margin-right: 5px;
  }

  &__biografy {
    margin: 10px 0;
    padding: 15px 25px;
    background: #f4f4f4;
    border-radius: 2px;
  }

  &__header4 {
    font-size: 18px;
    font-weight: 600;
    color: $grey-black;
  }

  &__paragraph {
    padding-bottom: 10px;
  }

  &__before-comment {
    padding: 30px 0;
  }

  &__comment {
    padding: 30px;
    background: #f4f4f4;
    border-radius: 2px;
  }

  &__comment-paragraph {
    margin-left: 30px;
  }

  &__author {
    padding-top: 40px;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    color: $grey-black;
    margin-left: 115px;
    text-align: right;
    font-style: italic;
  }

  &__last-paragraph {
    padding-top: 30px;
  }

  &__social-buttons-link {
    color: $blue;
    transition: 0.3s;
    padding: 0 20px 25px 0;

    &:hover {
      color: #23527c;
      text-decoration: none;
    }
  }

  &__comment-quote-left {
      float: left;
      color: $blue;
  }

  &__comment-quote-right {
      float: right;
      color: $blue;
  }
}