.teachers {
  color: $dgrey;
  
  &__container {
    @media (max-width: 1201px) {
      width: 100%;
    }
  }

  &__first-column {
    max-width: 450px;
    width: 100%;
    margin: auto;
    padding: 45px;

    box-sizing: border-box;

    @media (max-width: 1150px) {
      width: 41.66666667%;
    }

    @media (max-width: 991px) {
      max-width: 1000px;
      width: 100%;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;

      text-align: center;
    }
  }

  &__second-column {
    max-width: 650px;
    width: 100%;
    margin: auto;
    padding: 45px;

    box-sizing: border-box;

    @media (max-width: 1150px) {
        width: 58.33333333%;
    }

    @media (max-width: 991px) {
      max-width: 1000px;
      width: 100%;
      padding: 0px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__row {
    @media (max-width: 991px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__header {
    margin: 0;
    padding-bottom: 30px;

    color: $blue;
    font-family: $exo;
    font-size: $hz;
    font-weight: 600;

    @media (max-width: 991px) {
      text-align: center;
    }
  }

  &__main-image {
    max-width: 450px;
    width: 100%;
  }

  &__names-header {
    color: $dgrey;
    font-size: $hz;
    font-weight: 600;
  }

  &__about {
    color: $grey;
  }

  &__social-buttons {
    padding: 10px 0;

    border-bottom: 1px solid #f4f4f4;
  }

  &__data {
    padding: 5px;
    padding-left: 0;

    border-bottom: 1px solid #f4f4f4;

    @media (max-width: 991px) {
      text-align: left;
    }
  }

  &__data-header {
    color: $dgrey;
    font-size: 16px;
    font-weight: 600;
  }

  &__data-information {
    margin-left: 30px;

    color: $grey;
  }

  &__data-image {
    margin: 12px 15px;
    margin-left: 0px;
    float: left;

    color: $blue;
  }

  &__greeting {
    margin: 0;
    padding-bottom: 30px;

    color: $dgrey;
  }

  &__greeting-list {
    margin:0;
    margin-bottom: 30px;
    padding-left: 10px;
    list-style: none;
  }

  &__list {
    padding-top: 10px;
    padding-bottom: 10px;

    border-bottom: 1px solid #f4f4f4;

    color: $dgrey;
    font-family: $os;
    font-size: 14px;

    &:first-child {
      border-top: 1px solid #f4f4f4;
    }
  }

  &__icon {
    margin-right: 5px;

    color: $blue;
    font-size: 10px;
  }

  &__biografy {
    margin: 10px 0;
    padding: 15px 25px;

    border-radius: 2px;

    background: #f4f4f4;
  }

  &__header4 {
    font-size: 18px;
    font-weight: 600;
    color: $dgrey;
  }

  &__paragraph {
    padding-bottom: 10px;
  }

  &__before-comment {
    padding: 30px 0;
  }

  &__comment {
    padding: 30px;

    border-radius: 2px;

    background: #f4f4f4;
  }

  &__comment-paragraph {
    margin-left: 30px;
  }

  &__author {
    margin: 0;
    margin-left: 115px;
    padding-top: 40px;

    color: $dgrey;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    text-align: right;
  }

  &__last-paragraph {
    padding-top: 30px;
  }

  &__social-buttons-link {
    padding: 0 20px 25px 0;

    color: $blue;

    transition: 0.3s;
    &:hover {
      color: $dblue;
      text-decoration: none;
    }
  }

  &__comment-quote-left {
      float: left;

      color: $blue;
  }

  &__comment-quote-right {
      float: right;

      color: $blue;
  }
}