&__link {
  color: #303133;

  transition: 0.3s;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
  &:visited {
    color: $blue;
    text-decoration: none;
  }
  &:visited:hover {
    color: $blue;
    text-decoration: none;
  }
  &:active {
    color: $blue;
    text-decoration: none;
  }
}