.social-icons {
	float: right;

	&__link {
		color: $dgrey;
		transition: 0.3s;

		&:hover {
			color: $blue;
			text-decoration: none
		}
		&:visited {
			color: $dgrey;
			text-decoration: none;
		}
		&:visited:hover {
			color: $blue;
			text-decoration: none;
		}
		&:active {
			color: $blue;
			text-decoration: none;
		}
	}

	@media (max-width: 550px) {
		float: none;
	    width: 138px;
	    margin: 0 auto;
	    padding-top: 10px;
	}

	&--fln {
		float: none;
	}

	&--fl {
		float: none;

		@media (max-width: 550px) {
		    width: 100%;
		    margin: 0 auto;
		    padding-top: 0;
		}
	}

	&__icon {
		float: left;

		@media (max-width: 550px) {
			width: 46px;
			text-align: center;
		}
	}

	&__picture {
		margin-right: 30px;
		font-size: 15px;
	}

	&__icon--fl {
		float: none;
		margin-bottom: 25px;

		@media (max-width: 550px) {
			width: 100%;
			text-align: left;
		}
	}

	&__icon--text-center {
		text-align: center;
	}

	&__text {
		vertical-align: super;
	}

	&__picture--width {
		width: 45px;
		margin-right: 0;
		font-size: 25px;
	}

	&--pl {
		padding-left: 35px;

		@media (max-width: 550px) {
			float: none;
		    width: 100%;
		    margin-left: 0;
		    margin-right: 0;
		    padding-top: 0;
		}
	}
}