.social-icons {
	float: right;

	@media (max-width: 550px) {
		width: 138px;
		margin: 0 auto;
		padding-top: 10px;
		float: none;
	}

	//elements
	@import "elements/_link";
	@import "elements/_icon";
	@import "elements/_picture";
	@import "elements/_text";

	//modifiers
	@import "modifiers/-fln";
	@import "modifiers/-fl";
	@import "modifiers/_icon--fl";
	@import "modifiers/_icon--text-center";
	@import "modifiers/_picture--width";
	@import "modifiers/-pl";

}