&__link {
  display: block !important;
  width: 100% !important;
  padding-top: 5px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 5px !important;
  position: relative !important;

  color: $dgrey !important;
  font-family: $os !important;
  font-size: 12px !important;
  font-weight: 600 !important;
  text-align: center !important;
  text-transform: uppercase !important;

  transition: .5s !important;

  &:visited {
    color: $dgrey;
    text-decoration: none
  }

  &:hover {
    color: $blue !important;
    background-color: #fff !important;
    text-decoration: none
  }
}