.partners {
	margin-top: 40px;
	padding-top: 30px;
	padding-bottom: 60px;

	background: #f4f4f4;

	//elements
	@import "elements/_text";
	@import "elements/_header";
	@import "elements/_item";
	@import "elements/_img";

	//modifiers
	@import "modifiers/-white";

}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover  span {
  background: $blue !important; 
}