.statistics {
	background: url(../img/slide3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	position: relative;
	height: 400px;

	@media (max-width: 991px) {
		height: 800px;
	}

	&__fade {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		height: 400px;
		background: rgba(255, 255, 255, 0.75);

		@media (max-width: 991px) {
			padding-bottom: 800px;
		}

	}

	&__item {
		@media (max-width: 991px) {
			padding-bottom: 45px;
		}
	}

	&__header {
		position: relative;
		z-index: 5;
		padding-top: 30px;
		padding-bottom: 30px;
	    color: $blue;
	    text-align: center;
	    font-size: 44px;
	    font-family: $exo;
	}

	&__row {
		margin-bottom: 70px;
		margin-top: 50px;
	}

	&__number {
		color: $blue;
		font-family: $exo;
		text-align: center;
		font-size: 40px;
		font-weight: bold;
	}

	&__head {
		color: #303133;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 5px;
	}
}