.statistics {
	height: 400px;
	position: relative;

	background: url(../img/slide3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

	@media (max-width: 991px) {
		height: 800px;
	}

	//elements
	@import "elements/_fade";
	@import "elements/_item";
	@import "elements/_header";
	@import "elements/_row";
	@import "elements/_number";
	@import "elements/_head";

}