.main-head-banner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 180px;

	background: url(../img/slide2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	position: relative;

	//elements
	@import "elements/_fade";
	@import "elements/_header";

}