.main-footer-banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 180px;
	position: relative;


	background: url(../img/slide3.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;


	//elements
	@import "elements/_fade";
	@import "elements/_header";
	@import "elements/_link";

}