.graduates {
	width: 100%;
	height: 420px;
	margin-bottom: 60px;
	position: relative;
	overflow: hidden;

	background: url(../img/slide1.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;

	&__container {

		@media (max-width: 991px) {
			width: 100% !important;
		}
	}

	&__fade {
		width: 100%;
		height: 420px;
		top: 0;
		left: 0;
		position: absolute;
		z-index: 5;

		background: rgba(0, 0, 0, 0.6);

		@media (max-width: 850px) {
			height: 450px;
		}

		@media (max-width: 700px) {
			height: 490px;
		}

		@media (max-width: 500px) {
			height: 530px;
		}

		@media (max-width: 440px) {
			height: 570px;
		}

		@media (max-width: 350px) {
			height: 600px;
		}
	}

	&__wrap {
		position: relative;
		z-index: 10;

		@media (max-width: 1030px) {
			width: 100% !important;
		}
	}

	&__carousel {
		max-width: 700px;
		width: 100%;
		margin: 0 auto;
		padding-top: 30px;
		position: static;

		@media (max-width: 850px) {
			max-width: 500px;
		}
	}

	&__photo {
		width: 90px !important;
		height: 90px;
		float: left;

		border-radius: 50%;

		@media (max-width: 350px) {
			display: inline-block !important;
			float: none;
		}
	}

	&__item {
		text-align: center;
	}

	&__inf {
		padding-top: 10px;
		padding-left: 20px;
		float: left;

	    @media (max-width: 350px) {
			padding-left: 0;
			float: none;
		}
	}

	&__header {
		padding-top: 50px;
    	padding-bottom: 10px;

		color: #fff;
		font-family: $exo;
		font-size: 44px;

		text-align: center;

		@media (max-width: 700px) {
			padding-top: 20px;
		}
	}

	&__comment {
		color: #fff;
		font-family: $os;
		font-size: 16px;
		line-height: 20px;
		text-align: center;
	}

	& .owl-next {
		top: 180px 		   !important;
		right: 0px 	       !important;
		position: absolute !important;

		background: none   !important;

		font-size: 30px    !important;
	    @media (max-width: 650px) {
			top: 140px !important;
		}

		@media (max-width: 410px) {
			top: 186px !important;
		}

		@media (max-width: 327px) {
			top: 402px !important;
		}
	}

	& .owl-prev {
		top: 180px 		   !important;
		left: 0px 		   !important;
		position: absolute !important;

		background: none   !important;

		font-size: 30px    !important;

	    @media (max-width: 650px) {
			top: 140px !important;
		}

		@media (max-width: 410px) {
			top: 186px !important;
		}

		@media (max-width: 327px) {
			top: 402px !important;
		}
	}

	& .owl-stage-outer {
		position: static !important;
	}

	&__name {
		color: #fff;
		font-family: $os;
		font-size: 16px;
		font-weight: bold;
		text-align: left;
		text-transform: uppercase;

		@media (max-width: 350px) {
			text-align: center;
		}
	}

	&__position {
		color: #fff;
		font-family: $os;
		font-size: 16px;
	}

	&__graduate-info {
		display: inline-block;
		margin-top: 40px;

    	@media (max-width: 350px) {
			display: block;
			text-align: center;
		}
	}

	@media (max-width: 850px) {
		height: 450px;
	}

	@media (max-width: 700px) {
		height: 490px;
	}

	@media (max-width: 500px) {
		height: 530px;
	}

	@media (max-width: 440px) {
		height: 570px;
	}

	@media (max-width: 350px) {
		height: 600px;
	}

}