&__name-link {
  color: $dgrey;
  text-decoration: none;

  transition: all .5s;
  
  &:visited {
    color: $dgrey;
    text-decoration: none
  }

  &:hover {
    color: $blue;
    text-decoration: none
  }
}