&__head {
  height: 100px;
  margin-bottom: 20px;
  padding-bottom: 10px;

  border-bottom: 1px solid #fff;

  color: #fff;
  font-family: $exo;
  font-size: 30px;
  text-align: center;

  box-sizing: content-box;
}