.navigation {

	&__list {
		padding-left: 0;

		list-style: none;
	}

	&__item {
		width: 20%;
		float: left;

		text-align: center;
	}

	&__link {
		width: 100%;
		display: block;
		padding-top: 30px;
		padding-bottom: 35px;
		position: relative;

		color: #757575;
		text-transform: uppercase;
		font-family: "Roboto", sans-serif;

		transition: 0.5s;

		&:hover {
			color: #757575;
			text-decoration: none;
		}

		&:hover:before {
			opacity: 1;
		}

		&:before {
			content: "";
			width: 100%;
			height: 3px;
			position: absolute;
			top: 42px;
			left: 0;

			background-color: #3f9ae1;

			border-radius: 3px;
			transition: 0.5s;
			opacity: 0;
		}
	}
}