&__link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;

  color: $dgrey;

  transition: 0.3s;
  &:hover {
    color: $blue;
    text-decoration: none;
  }
  &:visited {
    color: $dgrey;
    text-decoration: none;
  }
  &:visited:hover {
    color: $blue;
    text-decoration: none;
  }
  &:active {
    color: $blue;
    text-decoration: none;
  }
}