&__img {
  width: 100%;
  height: 225px;

  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @media (max-width: 1151px) {
    height: 243px;
  }

  @media (max-width: 1020px) {
    height: 233px;
  }

  @media (max-width: 980px) {
    height: 223px;
  }

  @media (max-width: 930px) {
    height: 213px;
  }

  @media (max-width: 890px) {
    height: 203px;
  }

  @media (max-width: 840px) {
    height: 193px;
  }

  @media (max-width: 800px) {
    height: 260px;
  }

  @media (max-width: 760px) {
    height: 250px;
  }

  @media (max-width: 720px) {
    height: 240px;
  }

  @media (max-width: 680px) {
    height: 230px;
  }

  @media (max-width: 640px) {
    height: auto;
  }
}