.science {
    padding-top: 30px;
    padding-bottom: 50px;

    @media (max-width: 1201px) {
        width: 100%;
    }

    //elements
    @import "elements/_publications";
    @import "elements/_link";
    @import "elements/_main-picture";
    @import "elements/_description";
    @import "elements/_header";
    @import "elements/_col-inform";
    @import "elements/_text";
    @import "elements/_fetures-list";
    @import "elements/_list-item";
    @import "elements/_icon";

    //modifiers
    @import "modifiers/_header--pt";
    @import "modifiers/_row--flex";
    @import "modifiers/_header--center";
    @import "modifiers/_col--padding";
    @import "modifiers/_header--padding";

}