.educators {
  display: block;
  padding: 40px 0 100px 0;
  position: relative;

  //elements
  @import "elements/_title";
  @import "elements/_logo";
  @import "elements/_img-wrapper";
  @import "elements/_img";
  @import "elements/_item";
  @import "elements/_caption";
  @import "elements/_name";
  @import "elements/_name-link";
  @import "elements/_position";
  @import "elements/_info";
  @import "elements/_quote";
  @import "elements/_owl-carousel";

  @media (max-width: 1201px) {
    width: 100%;
  }

}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $blue !important;
}