.educators {
  display: block;
  padding: 40px 0 100px 0;
  position: relative;

  &__title {
    padding-bottom: 30px;

    color: $blue;
    font-family: $exo;
    font-size: $hz;
    text-align: center;
  }

  &__logo {
    display: block;
    padding: 20px;

    font-family: FontAwesome;
    font-size: $hz/2;
    text-align: center;
  }

  &__img-wrapper {
    display: block;
    width: 100%;
    max-height: 75%;
    height: 260px;
    position: relative;
  }


  &__img {
    width: 100%;
    height: 100%;
    &--hover-img-bg {
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;

      background-color: black;

      opacity: 0;
      transition: 0.3s;
    }
  }

  &__item {
    width: 230px;
    height: 335px;
    //margin: 30px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;

    background-color: #f4f4f4;

    &:after {
      display: block;
      width: 100%;
      height: 80px;
      position: absolute;
    }
  }

  &__caption {
    width: 100%;
    max-height: 10%;
    position: relative;

    background-color: #f4f4f4;
    text-align: center;
  }

  &__name {
    margin: 0;
    padding: 20px 0 0 0;

    font-family: $exo;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__name-link {
    color: $dgrey;
    text-decoration: none;

    transition: all .5s;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
    &:visited {
      color: $blue;
      text-decoration: none;
    }
    &:visited:hover {
      color: $blue;
      text-decoration: none;
    }
    &:active {
      color: $blue;
      text-decoration: none;
    }
  }

  &__position {
    margin: 0;
    padding: 5px 0;

    color: $blue;
  }

  &__info {
    padding: 0 5px 5px 5px;

    color: $dgrey;
    font-family: $os;
  }

  &__quote {
    padding: 15px 0;

    color: $grey;
  }

  &__owl-carousel {
    margin-top: 30px;
  }

  @media (max-width: 1201px) {
    width: 100%;
  }

}

.educators__item:hover {
  .educators__img--hover-img-bg {
    opacity: 0.5;
  }
  .educators__caption {
    max-height: 65%;
    left: 0;
    bottom: 0;
    position: absolute;

    border-bottom: 2px solid $blue;
  }
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: $blue !important;
}