.hate-icon {
	width: 31px;
	margin: 0 auto;
	position: relative;
	z-index: 5;
	&::before {
		width: 25px;
		height: 2px;
		top: 10px;
		left: -28px;
		position: absolute;
		content: "";

		background: #fff;
	}

	&::after {
		width: 25px;
		height: 2px;
		top: 10px;
		right: -28px;
		position: absolute;
		content: "";

		background: #fff;
	}

	&--dark::before {
		width: 25px;
		height: 2px;
		top: 10px;
		left: -28px;
		position: absolute;
		content: "";

		background: $dgrey;
	}

	&--dark::after {
		width: 25px;
		height: 2px;
		top: 10px;
		right: -28px;
		position: absolute;
		content: "";

		background: $dgrey;
	}

	&__icon {
		color: #fff;
		font-size: 25px;
	}

	&__icon--dark {
		color: $dgrey;
	}
}