.hate-icon {
	width: 31px;
	margin: 0 auto;
	position: relative;
	z-index: 5;


	&::before {
		width: 25px;
		height: 2px;
		top: 10px;
		left: -28px;
		position: absolute;
		content: "";

		background: #fff;
	}

	&::after {
		width: 25px;
		height: 2px;
		top: 10px;
		right: -28px;
		position: absolute;
		content: "";

		background: #fff;
	}

	//elements
	@import "elements/_icon";

	//modifiers
	@import "modifiers/-dark";
	@import "modifiers/_icon--dark";

}